<div id='track-wrapper'>

</div>

<div id='matrix-wrapper'>
	Main matrix wrapper
</div>

<div id='menu-accordion-wrapper'>
	<div id='menu-accordion'>
	  <h3>Instruments</h3>
	  <div>
	    <p id='drumkit_1' class='instrument'>drumkit_1</p>
	    <p id='fm_synth' class='instrument'>fm_synth</p>
	  </div>
	  <h3>Event Controls (dev)</h3>
	  <div>
	    <p id='masterRedraw' class='eventControls'>Master Redraw</p>
	    <p id='spacePress' class='eventControls'>Simulate Space Bar Press</p>
	    <p id='1' class='eventControls'>Trigger Column 1 Activate</p>
	    <p id='delegateEvents' class='eventControls'>Call delegateEvents() on each toneView</p>
	  </div>
	  <h3>Matrix Duration</h3>
	  <div>
		  <input id='update-time-info' type='text' placeholder='Total Time in Milliseconds'>
		  <button id='update-time'>Update</button>
	  </div>
	</div>
</div>