/* line 21, ../../app/assets/stylesheets/static_pages.css.scss */
body {
  pointer-events: none;
  background: #333333;
}

/* line 33, ../../app/assets/stylesheets/static_pages.css.scss */
#main-wrapper {
  display: inline-block;
  width: 100%;
  min-width: 1307px;
}

/* line 39, ../../app/assets/stylesheets/static_pages.css.scss */
#track-wrapper {
  display: inline-block;
  width: 25%;
  padding-right: 50px;
}

/* line 45, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion-wrapper {
  display: inline-block;
  pointer-events: auto;
  width: 25%;
  padding: 30px 0 80px 50px;
  float: right;
  margin-top: 2%;
  opacity: 0.1;
  transition: all 0.3s;
}
/* line 56, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion-wrapper:hover {
  opacity: 0.7;
}

/* line 63, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion h3 {
  background: black;
  color: white;
  box-shadow: 2px 0px 5px 0px white;
  opacity: 0.7;
  border-radius: 3px;
  padding: 20px;
  margin: 0 1px 0px 1px;
  transition: all 0.3s;
}
/* line 74, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion h3:hover {
  opacity: 0.9;
}
/* line 79, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion .top-accordion-menu-tab {
  border-top-left-radius: 40px;
}
/* line 84, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion .bottom-accordion-menu-tab {
  border-bottom-left-radius: 40px;
  box-shadow: 2px 2px 5px 0px white;
}
/* line 89, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion p {
  background: black;
  color: white;
  opacity: 0.7;
  border-radius: 3px;
  margin: 1px 1px 1px 10px;
  padding: 5px;
  -webkit-transition: all 0.3s;
}
/* line 99, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion p:hover {
  opacity: 0.9;
}
/* line 104, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion p.selectedInstrument {
  box-shadow: inset 0 0 4px 4px #c5d200;
}
/* line 108, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion #update-time-text-input {
  background: white;
  border: 1px solid #c5d200;
  border-radius: 5px;
  box-shadow: inset 0 0 4px 4px #c5d200;
  color: #666;
  padding: 5px 10px;
  margin-left: 20px;
  width: 165px;
  outline: none;
}
/* line 121, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion #update-time-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: .5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* line 135, ../../app/assets/stylesheets/static_pages.css.scss */
footer {
  opacity: 0.5;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

/* line 144, ../../app/assets/stylesheets/static_pages.css.scss */
.clickable {
  cursor: pointer;
}

/* line 148, ../../app/assets/stylesheets/static_pages.css.scss */
#matrix-wrapper {
  display: inline-block;
  border-radius: 10px;
  width: 40%;
  min-width: 530px;
  margin-top: 2%;
}
/* line 155, ../../app/assets/stylesheets/static_pages.css.scss */
#matrix-wrapper > div {
  margin-left: auto;
  margin-right: auto;
  width: 512px;
}

/* line 163, ../../app/assets/stylesheets/static_pages.css.scss */
.tone {
  display: inline-block;
  pointer-events: auto;
  z-index: 1;
  padding: 3px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 3px;
  height: 24px;
  width: 24px;
  background: #c5d200;
  opacity: 0.9;
  transition: opacity 0.3s, background 0.3s;
}
/* line 180, ../../app/assets/stylesheets/static_pages.css.scss */
.tone:hover {
  opacity: 1;
}

/* line 185, ../../app/assets/stylesheets/static_pages.css.scss */
.selectedTone {
  background: #73a4d9;
}

/* line 189, ../../app/assets/stylesheets/static_pages.css.scss */
div.explode {
  -webkit-animation: explode 0.3s;
}

@-webkit-keyframes explode {
  /* line 194, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }

  /* line 198, ../../app/assets/stylesheets/static_pages.css.scss */
  25% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 202, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: 0 0 10px 10px #DE2C0E;
    z-index: -1;
    background: #6C00CE;
  }

  /* line 207, ../../app/assets/stylesheets/static_pages.css.scss */
  75% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 211, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }
}
