/* line 22, ../../app/assets/stylesheets/static_pages.css.scss */
body {
  pointer-events: none;
  background: #333333;
  font-family: 'Sintony', sans-serif;
}

/* line 35, ../../app/assets/stylesheets/static_pages.css.scss */
#main-wrapper {
  display: inline-block;
  width: 100%;
  min-width: 1307px;
}

/* line 41, ../../app/assets/stylesheets/static_pages.css.scss */
#track-stage-wrapper {
  display: inline-block;
  width: 25%;
  padding-right: 50px;
}

/* line 47, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion-wrapper {
  display: inline-block;
  pointer-events: auto;
  width: 25%;
  padding: 30px 0 80px 50px;
  float: right;
  margin-top: 2%;
  opacity: 0.1;
  transition: all 0.3s;
}
/* line 58, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion-wrapper:hover {
  opacity: 0.7;
}

/* line 65, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion h3 {
  background: black;
  color: white;
  box-shadow: 2px 0px 5px 0px white;
  opacity: 0.7;
  border-radius: 3px;
  padding: 20px;
  margin: 0 1px 0px 1px;
  transition: all 0.3s;
}
/* line 76, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion h3:hover {
  opacity: 0.9;
}
/* line 81, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion .top-accordion-menu-tab {
  border-top-left-radius: 40px;
}
/* line 86, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion .bottom-accordion-menu-tab {
  border-bottom-left-radius: 40px;
  box-shadow: 2px 2px 5px 0px white;
}
/* line 91, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion p {
  background: black;
  color: white;
  opacity: 0.7;
  border-radius: 3px;
  margin: 1px 1px 1px 10px;
  padding: 5px;
  -webkit-transition: all 0.3s;
}
/* line 101, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion p:hover {
  opacity: 0.9;
}
/* line 106, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion p.selectedInstrument {
  box-shadow: inset 0 0 4px 4px #c5d200;
}
/* line 110, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion #update-time-text-input {
  background: white;
  border: 1px solid #c5d200;
  border-radius: 5px;
  box-shadow: inset 0 0 4px 4px #c5d200;
  color: #666;
  padding: 5px 10px;
  margin-left: 20px;
  width: 165px;
  outline: none;
}
/* line 123, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion #update-time-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: .5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* line 137, ../../app/assets/stylesheets/static_pages.css.scss */
footer {
  opacity: 0.5;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

/* line 146, ../../app/assets/stylesheets/static_pages.css.scss */
.clickable {
  cursor: pointer;
}

/* line 150, ../../app/assets/stylesheets/static_pages.css.scss */
#matrix-wrapper {
  display: inline-block;
  border-radius: 10px;
  width: 40%;
  min-width: 530px;
  margin-top: 2%;
}
/* line 157, ../../app/assets/stylesheets/static_pages.css.scss */
#matrix-wrapper > div {
  margin-left: auto;
  margin-right: auto;
  width: 512px;
}

/* line 165, ../../app/assets/stylesheets/static_pages.css.scss */
.tone {
  display: inline-block;
  pointer-events: auto;
  z-index: 1;
  padding: 3px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 3px;
  height: 24px;
  width: 24px;
  background: #c5d200;
  opacity: 0.9;
  transition: opacity 0.3s, background 0.3s;
}
/* line 182, ../../app/assets/stylesheets/static_pages.css.scss */
.tone:hover {
  opacity: 1;
}

/* line 187, ../../app/assets/stylesheets/static_pages.css.scss */
.selectedTone {
  background: #73a4d9;
}

/* line 191, ../../app/assets/stylesheets/static_pages.css.scss */
div.explode {
  -webkit-animation: explode 0.3s;
  -ms-animation: explode 0.3s;
  -moz-animation: explode 0.3s;
  -o-animation: explode 0.3s;
  animation: explode 0.3s;
}

@-webkit-keyframes explode {
  /* line 200, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }

  /* line 204, ../../app/assets/stylesheets/static_pages.css.scss */
  25% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 208, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: 0 0 10px 10px #DE2C0E;
    z-index: -1;
    background: #de2c0e;
  }

  /* line 213, ../../app/assets/stylesheets/static_pages.css.scss */
  75% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 217, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }
}

@-moz-keyframes explode {
  /* line 224, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }

  /* line 228, ../../app/assets/stylesheets/static_pages.css.scss */
  25% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 232, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: 0 0 10px 10px #DE2C0E;
    z-index: -1;
    background: #de2c0e;
  }

  /* line 237, ../../app/assets/stylesheets/static_pages.css.scss */
  75% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 241, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }
}

@-ms-keyframes explode {
  /* line 248, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }

  /* line 252, ../../app/assets/stylesheets/static_pages.css.scss */
  25% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 256, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: 0 0 10px 10px #DE2C0E;
    z-index: -1;
    background: #de2c0e;
  }

  /* line 261, ../../app/assets/stylesheets/static_pages.css.scss */
  75% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 265, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }
}

@-o-keyframes explode {
  /* line 272, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }

  /* line 276, ../../app/assets/stylesheets/static_pages.css.scss */
  25% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 280, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: 0 0 10px 10px #DE2C0E;
    z-index: -1;
    background: #de2c0e;
  }

  /* line 285, ../../app/assets/stylesheets/static_pages.css.scss */
  75% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 289, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }
}

@keyframes explode {
  /* line 296, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }

  /* line 300, ../../app/assets/stylesheets/static_pages.css.scss */
  25% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 304, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: 0 0 10px 10px #DE2C0E;
    z-index: -1;
    background: #de2c0e;
  }

  /* line 309, ../../app/assets/stylesheets/static_pages.css.scss */
  75% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 313, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }
}
