/* line 29, ../../app/assets/stylesheets/static_pages.css.scss */
body {
  pointer-events: none;
  background: #111111;
  font-family: 'Sintony', sans-serif;
  overflow: auto !important;
}

/* line 36, ../../app/assets/stylesheets/static_pages.css.scss */
#main-wrapper {
  display: inline-block;
  width: 100%;
  min-width: 1307px;
}

/* line 42, ../../app/assets/stylesheets/static_pages.css.scss */
#track-stage-wrapper {
  min-width: 334px;
  height: 518px;
  width: 33%;
  margin-top: 2%;
  padding-right: 10px;
  float: left;
}

/* line 51, ../../app/assets/stylesheets/static_pages.css.scss */
#matrix-wrapper {
  display: inline-block;
  border-radius: 10px;
  border: 5px dotted teal;
  width: 44%;
  min-width: 530px;
  height: 583px;
  width: 577px;
  padding: 5px 0 5px 0;
  margin-right: auto;
  margin-left: auto;
  box-shadow: inset 0 0 20px 20px black;
}
/* line 65, ../../app/assets/stylesheets/static_pages.css.scss */
#matrix-wrapper > div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 512px;
}

/* line 75, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion-wrapper {
  display: inline-block;
  pointer-events: auto;
  width: 20%;
  padding: 30px 0 80px 10px;
  float: right;
  margin-top: 2%;
}

/* line 91, ../../app/assets/stylesheets/static_pages.css.scss */
#track-wrapper {
  float: left;
  border-radius: 10px;
  border: 3px dotted red;
  height: 100%;
  width: 60%;
  padding: 4px;
  margin: 15px;
  text-align: center;
}

/* line 102, ../../app/assets/stylesheets/static_pages.css.scss */
#stage-wrapper {
  display: inline-block;
  border-radius: 30px;
  border: 10px dotted white;
  height: 100%;
  width: 20%;
  padding: 1px;
  text-align: center;
  transition: all 0.3s;
}

/* line 115, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion h3 {
  background: black;
  color: white;
  box-shadow: 2px 0px 5px 0px grey;
  opacity: 0.7;
  border-radius: 3px;
  padding: 20px;
  margin: 0 1px 0px 1px;
  transition: all 0.3s;
}
/* line 125, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion h3:hover {
  opacity: 0.9;
}
/* line 130, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion .top-accordion-menu-tab {
  border-top-left-radius: 40px;
}
/* line 134, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion .bottom-accordion-menu-tab {
  border-bottom-left-radius: 40px;
  box-shadow: 2px 2px 5px 0px grey;
}
/* line 139, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion p {
  background: black;
  color: white;
  opacity: 0.7;
  border-radius: 3px;
  margin: 1px 1px 1px 10px;
  padding: 5px;
  -webkit-transition: all 0.3s;
}
/* line 148, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion p:hover {
  opacity: 0.9;
}
/* line 153, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion p.selectedInstrument {
  box-shadow: inset 0 0 4px 4px teal;
}
/* line 157, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion #update-time-text-input {
  background: white;
  border: 1px solid teal;
  border-radius: 5px;
  box-shadow: inset 0 0 4px 4px teal;
  color: #666;
  padding: 5px 10px;
  margin-left: 20px;
  width: 80%;
  outline: none;
}

/* line 171, ../../app/assets/stylesheets/static_pages.css.scss */
footer {
  opacity: 0.5;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  clear: left;
  clear: right;
}

/* line 182, ../../app/assets/stylesheets/static_pages.css.scss */
.clickable {
  cursor: pointer;
  pointer-events: auto;
}

/* line 187, ../../app/assets/stylesheets/static_pages.css.scss */
#stage-title {
  margin: 4px;
  border-radius: 4px;
  border: 1px dotted white;
  background: #f88302;
}

/* line 194, ../../app/assets/stylesheets/static_pages.css.scss */
.staged {
  cursor: pointer;
  pointer-events: auto;
  margin: 4px;
  border-radius: 4px;
  border: 1px dotted lightgreen;
  background: teal;
}

/* line 203, ../../app/assets/stylesheets/static_pages.css.scss */
.tracked {
  cursor: pointer;
  pointer-events: auto;
  margin: 4px;
  border-radius: 4px;
  border: 1px dotted red;
  background: teal;
}

/* line 212, ../../app/assets/stylesheets/static_pages.css.scss */
.tone {
  display: inline-block;
  pointer-events: auto;
  z-index: 1;
  padding: 3px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 3px;
  height: 24px;
  width: 24px;
  background: teal;
  opacity: 0.9;
  transition: opacity 0.3s, background 0.3s;
}
/* line 229, ../../app/assets/stylesheets/static_pages.css.scss */
.tone:hover {
  opacity: 1;
}

/* line 234, ../../app/assets/stylesheets/static_pages.css.scss */
.selectedTone {
  background: lightgreen;
}

/* line 238, ../../app/assets/stylesheets/static_pages.css.scss */
#tracks-label {
  background: #f88302;
  border-radius: 10px;
}

/* line 243, ../../app/assets/stylesheets/static_pages.css.scss */
.track {
  height: 85%;
  width: 27%;
  border: thick solid red;
  margin: 3px;
  transition: all 0.3s;
  float: left;
}
/* line 251, ../../app/assets/stylesheets/static_pages.css.scss */
.track li {
  list-style-type: none;
  margin-left: -35px;
  padding: 0;
  white-space: pre-wrap;
}

/* line 259, ../../app/assets/stylesheets/static_pages.css.scss */
.matrix-bumper-div {
  display: inline-block;
  width: 5%;
}

/* line 264, ../../app/assets/stylesheets/static_pages.css.scss */
.droppable-active {
  box-shadow: inset 0 0 20px 20px teal !important;
}

/* line 269, ../../app/assets/stylesheets/static_pages.css.scss */
div.explode {
  -webkit-animation: explode 0.3s;
  -ms-animation: explode 0.3s;
  -moz-animation: explode 0.3s;
  -o-animation: explode 0.3s;
  animation: explode 0.3s;
}

@-webkit-keyframes highlight {
  /* line 278, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: inset 0 0 0 0 red;
  }

  /* line 279, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: inset 0 0 10px 10px red;
  }

  /* line 280, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: inset 0 0 0 0 red;
  }
}

@-webkit-keyframes explode {
  /* line 284, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }

  /* line 288, ../../app/assets/stylesheets/static_pages.css.scss */
  25% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 292, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: 0 0 10px 10px #DE2C0E;
    z-index: -1;
    background: red;
  }

  /* line 297, ../../app/assets/stylesheets/static_pages.css.scss */
  75% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 301, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }
}

@-moz-keyframes explode {
  /* line 308, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }

  /* line 312, ../../app/assets/stylesheets/static_pages.css.scss */
  25% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 316, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: 0 0 10px 10px #DE2C0E;
    z-index: -1;
    background: red;
  }

  /* line 321, ../../app/assets/stylesheets/static_pages.css.scss */
  75% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 325, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }
}

@-ms-keyframes explode {
  /* line 332, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }

  /* line 336, ../../app/assets/stylesheets/static_pages.css.scss */
  25% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 340, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: 0 0 10px 10px #DE2C0E;
    z-index: -1;
    background: red;
  }

  /* line 345, ../../app/assets/stylesheets/static_pages.css.scss */
  75% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 349, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }
}

@-o-keyframes explode {
  /* line 356, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }

  /* line 360, ../../app/assets/stylesheets/static_pages.css.scss */
  25% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 364, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: 0 0 10px 10px #DE2C0E;
    z-index: -1;
    background: red;
  }

  /* line 369, ../../app/assets/stylesheets/static_pages.css.scss */
  75% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 373, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }
}

@keyframes explode {
  /* line 380, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }

  /* line 384, ../../app/assets/stylesheets/static_pages.css.scss */
  25% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 388, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: 0 0 10px 10px #DE2C0E;
    z-index: -1;
    background: red;
  }

  /* line 393, ../../app/assets/stylesheets/static_pages.css.scss */
  75% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 397, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }
}
