/* line 22, ../../app/assets/stylesheets/static_pages.css.scss */
body {
  background: #333333;
  font-family: 'Sintony', sans-serif;
}

/* line 35, ../../app/assets/stylesheets/static_pages.css.scss */
#main-wrapper {
  display: inline-block;
  width: 100%;
  min-width: 1307px;
}

/* line 41, ../../app/assets/stylesheets/static_pages.css.scss */
#track-stage-wrapper {
  min-width: 334px;
  height: 518px;
  width: 25%;
  margin-top: 2%;
  padding-right: 50px;
  float: left;
}

/* line 51, ../../app/assets/stylesheets/static_pages.css.scss */
#matrix-wrapper {
  display: inline-block;
  border-radius: 10px;
  border: 5px dotted #c5d200;
  width: 40%;
  min-width: 530px;
  min-height: 518px;
  margin-top: 2%;
}
/* line 60, ../../app/assets/stylesheets/static_pages.css.scss */
#matrix-wrapper > div {
  margin-left: auto;
  margin-right: auto;
  width: 512px;
}

/* line 68, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion-wrapper {
  display: inline-block;
  pointer-events: auto;
  width: 25%;
  padding: 30px 0 80px 50px;
  float: right;
  margin-top: 2%;
  opacity: 0.1;
  transition: all 0.3s;
}
/* line 79, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion-wrapper:hover {
  opacity: 0.7;
}

/* line 84, ../../app/assets/stylesheets/static_pages.css.scss */
#track-wrapper {
  float: left;
  border-radius: 10px;
  border: 3px dotted red;
  height: 100%;
  width: 60%;
}

/* line 93, ../../app/assets/stylesheets/static_pages.css.scss */
#stage-wrapper {
  display: inline-block;
  border-radius: 30px;
  border: 10px dotted white;
  height: 100%;
  width: 30%;
  padding: 1px;
  text-align: center;
}

/* line 105, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion h3 {
  background: black;
  color: white;
  box-shadow: 2px 0px 5px 0px white;
  opacity: 0.7;
  border-radius: 3px;
  padding: 20px;
  margin: 0 1px 0px 1px;
  transition: all 0.3s;
}
/* line 116, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion h3:hover {
  opacity: 0.9;
}
/* line 121, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion .top-accordion-menu-tab {
  border-top-left-radius: 40px;
}
/* line 126, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion .bottom-accordion-menu-tab {
  border-bottom-left-radius: 40px;
  box-shadow: 2px 2px 5px 0px white;
}
/* line 131, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion p {
  background: black;
  color: white;
  opacity: 0.7;
  border-radius: 3px;
  margin: 1px 1px 1px 10px;
  padding: 5px;
  -webkit-transition: all 0.3s;
}
/* line 141, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion p:hover {
  opacity: 0.9;
}
/* line 146, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion p.selectedInstrument {
  box-shadow: inset 0 0 4px 4px #c5d200;
}
/* line 150, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion #update-time-text-input {
  background: white;
  border: 1px solid #c5d200;
  border-radius: 5px;
  box-shadow: inset 0 0 4px 4px #c5d200;
  color: #666;
  padding: 5px 10px;
  margin-left: 20px;
  width: 165px;
  outline: none;
}
/* line 163, ../../app/assets/stylesheets/static_pages.css.scss */
#menu-accordion #update-time-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: .5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* line 177, ../../app/assets/stylesheets/static_pages.css.scss */
footer {
  opacity: 0.5;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  clear: left;
  clear: right;
}

/* line 188, ../../app/assets/stylesheets/static_pages.css.scss */
.clickable {
  cursor: pointer;
}

/* line 192, ../../app/assets/stylesheets/static_pages.css.scss */
.staged {
  cursor: pointer;
  pointer-events: auto;
  margin: 4px;
  border-radius: 4px;
  border: 1px dotted red;
  background: #c5d200;
}

/* line 201, ../../app/assets/stylesheets/static_pages.css.scss */
.tone {
  display: inline-block;
  pointer-events: auto;
  z-index: 1;
  padding: 3px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 3px;
  height: 24px;
  width: 24px;
  background: #c5d200;
  opacity: 0.9;
  transition: opacity 0.3s, background 0.3s;
}
/* line 218, ../../app/assets/stylesheets/static_pages.css.scss */
.tone:hover {
  opacity: 1;
}

/* line 223, ../../app/assets/stylesheets/static_pages.css.scss */
.selectedTone {
  background: #73a4d9;
}

/* line 227, ../../app/assets/stylesheets/static_pages.css.scss */
div.explode {
  -webkit-animation: explode 0.3s;
  -ms-animation: explode 0.3s;
  -moz-animation: explode 0.3s;
  -o-animation: explode 0.3s;
  animation: explode 0.3s;
}

@-webkit-keyframes explode {
  /* line 236, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }

  /* line 240, ../../app/assets/stylesheets/static_pages.css.scss */
  25% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 244, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: 0 0 10px 10px #DE2C0E;
    z-index: -1;
    background: #de2c0e;
  }

  /* line 249, ../../app/assets/stylesheets/static_pages.css.scss */
  75% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 253, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }
}

@-moz-keyframes explode {
  /* line 260, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }

  /* line 264, ../../app/assets/stylesheets/static_pages.css.scss */
  25% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 268, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: 0 0 10px 10px #DE2C0E;
    z-index: -1;
    background: #de2c0e;
  }

  /* line 273, ../../app/assets/stylesheets/static_pages.css.scss */
  75% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 277, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }
}

@-ms-keyframes explode {
  /* line 284, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }

  /* line 288, ../../app/assets/stylesheets/static_pages.css.scss */
  25% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 292, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: 0 0 10px 10px #DE2C0E;
    z-index: -1;
    background: #de2c0e;
  }

  /* line 297, ../../app/assets/stylesheets/static_pages.css.scss */
  75% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 301, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }
}

@-o-keyframes explode {
  /* line 308, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }

  /* line 312, ../../app/assets/stylesheets/static_pages.css.scss */
  25% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 316, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: 0 0 10px 10px #DE2C0E;
    z-index: -1;
    background: #de2c0e;
  }

  /* line 321, ../../app/assets/stylesheets/static_pages.css.scss */
  75% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 325, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }
}

@keyframes explode {
  /* line 332, ../../app/assets/stylesheets/static_pages.css.scss */
  0% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }

  /* line 336, ../../app/assets/stylesheets/static_pages.css.scss */
  25% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 340, ../../app/assets/stylesheets/static_pages.css.scss */
  50% {
    box-shadow: 0 0 10px 10px #DE2C0E;
    z-index: -1;
    background: #de2c0e;
  }

  /* line 345, ../../app/assets/stylesheets/static_pages.css.scss */
  75% {
    box-shadow: 0 0 5px 5px #0086FF;
    z-index: -1;
  }

  /* line 349, ../../app/assets/stylesheets/static_pages.css.scss */
  100% {
    box-shadow: 0 0 0px 0px #3EBBF3;
    z-index: -1;
  }
}
