// Imports
// @import "ceaser-easing";

// Globals
$tone-background-color: #C5D200;
$tone-selected-background-color: #73A4D9;
$tone-height-width: 24px;
$tone-padding: 3px;
$tone-margin-top-bottom: -1px;
$tone-margin-left-right: 1px;

$tone-wrapper-width: ($tone-height-width + ($tone-padding * 2) + ($tone-margin-left-right * 2)) * 16;

$body-background-color: #5F5535;

body {
	background: $body-background-color;
}

#main-wrapper {
	display: inline-block;
	width: 100%;
}

#track-wrapper {
	display: inline-block;
	width: 25%;
	padding: 25px;
}

#menu-accordion-wrapper {
	display: inline-block;
	width: 25%;
	padding: 30px 0 80px 50px;
	float: right;
	margin-top: 2%;

	opacity: 0.1;
	transition: all 0.3s;

	&:hover {
		opacity: 0.7;
	}
}

#menu-accordion {

	h3 {
		background: $body-background-color + 100;
		opacity: 0.7;
		border-radius: 3px;
		padding: 20px;
		margin: 0 1px 0px 1px;
		transition: all 0.3s;

		&:hover {
			opacity: 0.9;
		}
	}

	.top-accordion-menu-tab {
		border-top-left-radius: 40px;
	}

	.bottom-accordion-menu-tab {
		border-bottom-left-radius: 40px;
	}

	p {
		background: $body-background-color + 130;
		opacity: 0.7;
		border-radius: 3px;
		margin: 1px 1px 1px 10px;
		padding: 5px;
		-webkit-transition: all 0.3s;

		&:hover {
			opacity: 0.9;
		}
	}

	p.selectedInstrument {
		background: blue;
	}

	#update-time-text-input {
	  background: white;
	  border: 1px solid #ffa853;
	  border-radius: 5px;
	  box-shadow: 0 0 5px 3px #ffa853;
	  color: #666;
	  // float: left;
	  padding: 5px 10px;
	  margin-left: 20px;
	  width: 165px;
	  outline: none;
	}

	#update-time-button {
		display: inline-block;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		font: 14px/100% Arial, Helvetica, sans-serif;
		padding: .5em 2em .55em;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		border-radius: .5em; 
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
	}
}

footer {
	opacity: 0.3;
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

#matrix-wrapper {
	display: inline-block;
	border-radius: 10px;
	width: 40%;
	min-width: 530px;
	margin-top: 2%;

	>div {
		// inside matrix wrapper, contains all the tone divs
		margin-left: auto;
		margin-right: auto;
		width: $tone-wrapper-width;
	}
}

.tone {
	display: inline-block;
	z-index: 2;
	padding: $tone-padding;
	margin-top: $tone-margin-top-bottom;
	margin-bottom: $tone-margin-top-bottom;
	margin-left: $tone-margin-left-right;
	margin-right: $tone-margin-left-right;
	border-radius: 3px;
	height: $tone-height-width;
	width: $tone-height-width;
	background: $tone-background-color;
	opacity: 0.9;
	transition: opacity 0.3s, background 0.3s; 

	&:hover {
		opacity: 1;
	}
}

.selectedTone {
	background: $tone-selected-background-color;
}

div.explode {
	-webkit-animation: explode2 0.3s linear;
}

@-webkit-keyframes explode2 {
	0% { 
		box-shadow: 0 0 0px 0px orange; 
		z-index: -5;
	}
	25% { 
		box-shadow: 0 0 5px 5px blue; 
		z-index: -5;
	}
	50% { 
		box-shadow: 0 0 10px 10px red; 
		z-index: -5;
		background: purple;  
	}
	75% { 
		box-shadow: 0 0 5px 5px yellow; 
		z-index: -5;  
	}
	100% { 
		box-shadow: 0 0 0px 0px white; 
		z-index: -5;  
	}
}

// @-webkit-keyframes explode {
// 	0% { box-shadow: 0 0 0px 0px orange; z-index: -5; }
// 	25% { box-shadow: 0 0 50px 50px blue; z-index: -5;  }
// 	50% { box-shadow: 0 0 100px 100px red; z-index: -5;  }
// 	75% { box-shadow: 0 0 150px 150px yellow; z-index: -5;  }
// 	100% { box-shadow: 0 0 200px 200px white; z-index: -5;  }
// }