// Imports
@import "compass/css3";
// @import "ceaser-easing";

// Globals
$body-background-color: #333333;
$tone-background-color: #C5D200;
$tone-selected-background-color: #73A4D9;
$tone-active-background-color: #DE2C0E;
$tone-height-width: 24px;
$tone-padding: 3px;
$tone-margin-top-bottom: -1px;
$tone-margin-left-right: 1px;

$menu-highlight-color: #C5D200;
$menu-background-color: black;
$menu-shadow-color: white;

$tone-wrapper-width: ($tone-height-width + ($tone-padding * 2) + ($tone-margin-left-right * 2)) * 16;


body {
	pointer-events: none;
	background: $body-background-color;
	font-family: 'Sintony', sans-serif;
	// background: url('random_grey_variations.png');
	// background: url('rubber_grip.png');
	// background: url('squares.png');
	// background: url('woven.png');
	// background: url('tactile_noise.png');
	// background: url('micro_carbon.png');
	// background: black;
}

#main-wrapper {
	display: inline-block;
	width: 100%;
	min-width: 1307px;
}

#track-stage-wrapper {
	display: inline-block;
	width: 25%;
	padding-right: 50px;
}

#menu-accordion-wrapper {
	display: inline-block;
	pointer-events: auto;
	width: 25%;
	padding: 30px 0 80px 50px;
	float: right;
	margin-top: 2%;

	opacity: 0.1;
	transition: all 0.3s;

	&:hover {
		opacity: 0.7;
	}
}

#menu-accordion {

	h3 {
		// background: $body-background-color + 100;
		background: $menu-background-color;
		color: white;
		box-shadow: 2px 0px 5px 0px $menu-shadow-color;
		opacity: 0.7;
		border-radius: 3px;
		padding: 20px;
		margin: 0 1px 0px 1px;
		transition: all 0.3s;

		&:hover {
			opacity: 0.9;
		}
	}

	.top-accordion-menu-tab {
		border-top-left-radius: 40px;
		// box-shadow: 2px -2px 2px 2px $menu-shadow-color;
	}

	.bottom-accordion-menu-tab {
		border-bottom-left-radius: 40px;
		box-shadow: 2px 2px 5px 0px $menu-shadow-color;
	}

	p {
		// background: $body-background-color + 130;
		background: $menu-background-color;
		color: white;
		opacity: 0.7;
		border-radius: 3px;
		margin: 1px 1px 1px 10px;
		padding: 5px;
		-webkit-transition: all 0.3s;

		&:hover {
			opacity: 0.9;
		}
	}

	p.selectedInstrument {
		box-shadow: inset 0 0 4px 4px $menu-highlight-color;
	}

	#update-time-text-input {
	  background: white;
	  border: 1px solid $menu-highlight-color;
	  border-radius: 5px;
	  box-shadow: inset 0 0 4px 4px $menu-highlight-color;
	  color: #666;
	  // float: left;
	  padding: 5px 10px;
	  margin-left: 20px;
	  width: 165px;
	  outline: none;
	}

	#update-time-button {
		display: inline-block;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		font: 14px/100% Arial, Helvetica, sans-serif;
		padding: .5em 2em .55em;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		border-radius: .5em; 
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
	}
}

footer {
	opacity: 0.5;
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

.clickable {
	cursor: pointer;
}

#matrix-wrapper {
	display: inline-block;
	border-radius: 10px;
	width: 40%;
	min-width: 530px;
	margin-top: 2%;

	>div {
		// inside matrix wrapper, contains all the tone divs
		margin-left: auto;
		margin-right: auto;
		width: $tone-wrapper-width;
	}
}

.tone {
	display: inline-block;
	pointer-events: auto;
	z-index: 1;
	// box-shadow: 1px 1px 0px 1px black;
	padding: $tone-padding;
	margin-top: $tone-margin-top-bottom;
	margin-bottom: $tone-margin-top-bottom;
	margin-left: $tone-margin-left-right;
	margin-right: $tone-margin-left-right;
	border-radius: 3px;
	height: $tone-height-width;
	width: $tone-height-width;
	background: $tone-background-color;
	opacity: 0.9;
	transition: opacity 0.3s, background 0.3s; 

	&:hover {
		opacity: 1;
	}
}

.selectedTone {
	background: $tone-selected-background-color;
}

div.explode {
	-webkit-animation: explode 0.3s;
	-ms-animation: explode 0.3s;
	-moz-animation: explode 0.3s;
	-o-animation: explode 0.3s;
	animation: explode 0.3s;
}

@-webkit-keyframes explode {
	0% { 
		box-shadow: 0 0 0px 0px #3EBBF3; 
		z-index: -1;
	}
	25% { 
		box-shadow: 0 0 5px 5px #0086FF; 
		z-index: -1;
	}
	50% { 
		box-shadow: 0 0 10px 10px #DE2C0E; 
		z-index: -1;
		background: $tone-active-background-color;  
	}
	75% { 
		box-shadow: 0 0 5px 5px #0086FF; 
		z-index: -1;  
	}
	100% { 
		box-shadow: 0 0 0px 0px #3EBBF3; 
		z-index: -1;  
	}
}

@-moz-keyframes explode {
	0% { 
		box-shadow: 0 0 0px 0px #3EBBF3; 
		z-index: -1;
	}
	25% { 
		box-shadow: 0 0 5px 5px #0086FF; 
		z-index: -1;
	}
	50% { 
		box-shadow: 0 0 10px 10px #DE2C0E; 
		z-index: -1;
		background: $tone-active-background-color;  
	}
	75% { 
		box-shadow: 0 0 5px 5px #0086FF; 
		z-index: -1;  
	}
	100% { 
		box-shadow: 0 0 0px 0px #3EBBF3; 
		z-index: -1;  
	}
}

@-ms-keyframes explode {
	0% { 
		box-shadow: 0 0 0px 0px #3EBBF3; 
		z-index: -1;
	}
	25% { 
		box-shadow: 0 0 5px 5px #0086FF; 
		z-index: -1;
	}
	50% { 
		box-shadow: 0 0 10px 10px #DE2C0E; 
		z-index: -1;
		background: $tone-active-background-color;  
	}
	75% { 
		box-shadow: 0 0 5px 5px #0086FF; 
		z-index: -1;  
	}
	100% { 
		box-shadow: 0 0 0px 0px #3EBBF3; 
		z-index: -1;  
	}
}

@-o-keyframes explode {
	0% { 
		box-shadow: 0 0 0px 0px #3EBBF3; 
		z-index: -1;
	}
	25% { 
		box-shadow: 0 0 5px 5px #0086FF; 
		z-index: -1;
	}
	50% { 
		box-shadow: 0 0 10px 10px #DE2C0E; 
		z-index: -1;
		background: $tone-active-background-color;  
	}
	75% { 
		box-shadow: 0 0 5px 5px #0086FF; 
		z-index: -1;  
	}
	100% { 
		box-shadow: 0 0 0px 0px #3EBBF3; 
		z-index: -1;  
	}
}

@keyframes explode {
	0% { 
		box-shadow: 0 0 0px 0px #3EBBF3; 
		z-index: -1;
	}
	25% { 
		box-shadow: 0 0 5px 5px #0086FF; 
		z-index: -1;
	}
	50% { 
		box-shadow: 0 0 10px 10px #DE2C0E; 
		z-index: -1;
		background: $tone-active-background-color;  
	}
	75% { 
		box-shadow: 0 0 5px 5px #0086FF; 
		z-index: -1;  
	}
	100% { 
		box-shadow: 0 0 0px 0px #3EBBF3; 
		z-index: -1;  
	}
}