<ol id='joyride-ol'>
	<li>
		<p>
			Welcome to Tone Lotus.
			Tone Lotus is a musical instrument made by Aaron Sullivan.
			Press "Next" to explore the instrument.
		</p>
	</li>
	<li 
		data-id='joyride-tone'>
			<p>Click on an individual "tone" or drag over a few to hear them play!</p>
	</li>

	<li 
		data-id='instrument-menu-button'
		data-options='tipLocation:left'>
			<p>Switch and layer instruments from here</p>
	</li>

	<li
		data-id='stage-wrapper'
		data-options='tipLocation:right'>
			<p>Press S to "stage" an instrument once you've made a tune that you like.
			This is the holding ground to track your songs</p>
	</li>

	<li
		data-id='track3'
		data-options='tipLocation:right'>
			<p>Drag a bar from the stage into one of these "tracks".
			Feel free to loop as many bars as you want.</p>
	</li>

	<li
		data-id='play-controls-menu-button'
		data-options='tipLocation:left'>
			<p>Play either the tracks or the main tone matrix from here.</p>
	</li>

	<li 
		data-button='Enough, to the music!'>
		<p>I hope you enjoy Tone Lotus.  Have fun!</p>
	</li>
</ol>