<ol id='joyride-ol-save' class='joyride-ol'>
	<li data-button='Close'>
		<p id='joyride-ol-save-url-p'></p>
	</li>
</ol>

<ol id='joyride-ol-tour' class='joyride-ol'>
	<li>
		<p>
			Welcome to Tone Lotus.
			Tone Lotus is a musical instrument made by Aaron Sullivan.
			Press "Next" to explore the instrument.
		</p>
	</li>
	<li 
		data-id='joyride-tone'>
			<p>Click on an individual "tone" or drag over a few to hear them play.</p>
	</li>

	<li 
		data-id='instrument-menu-button'
		data-options='tipLocation:right'>
			<p>Select an instrument from this dropdown panel.  You can have three instruments layered at a time from here.  Just make a cool beat, then select another instrument and begin your layering fun.</p>
			<p>To save one instrument and start afresh with just that one, press 's'.  More on that next.</p>
	</li>

	<li
		data-id='stage-wrapper'
		data-options='tipLocation:left'>
			<p>Press 's' to stage an instrument once you've made a tune that you like.</p>
			<p>Instruments that have been staged won't play - the stage is a holding ground for instruments.</p>
			<p>Drag your Instruments from the stage either back into the middle square to continue working on it, or into one of the tracks to make a song.</p>
	</li>

	<li
		data-id='track3'
		data-options='tipLocation:left'>
		<p>These are your tracks.  From here you can make complex song patterns and rich layers.</p>
			<p>There are two steps to using the tracks.  First drag an instrument into any of the three tracks.  Second press "Play Tracks" under the "Play Controls" menu header.</p>
	</li>

	<li
		data-id='play-controls-menu-button'
		data-options='tipLocation:right'>
			<p>From here you can start playing the main grid, the tracks, or you can pause play.</p>
	</li>

	<li
		data-id='keyboard-shortcuts-menu-button'
		data-options='tipLocation:right'>
		<p>Explore the keyboard shortcuts for Tone Lotus.  Space bar will clear all of your music.  'p' is for pause.</p>
	</li>

	<li
		data-id='save-menu-button'
		data-options='tipLocation:right'>
		<p>Click here to get a URL you can plug back into your URL's browser to reload your Tone Lotus</p>

	<li 
		data-button='Enough, to the music!'>
		<p>I hope you enjoy Tone Lotus.  Have fun!</p>
	</li>
</ol>