<div id='menu-accordion-wrapper' class='fadein scaleInv anim_2'>
	<div id='menu-accordion'>

	  <h3 id='instrument-menu-button' class='top-accordion-menu-tab clickable'>Instruments</h3>
	  <div>
	    <p id='synth' class='instrument selectedInstrument clickable'>synth</p>
	    <p id='pad' class='instrument clickable'>pad</p>
	    <p id='kit' class='instrument clickable'>kit</p>
	  </div>

	  <h3 id='play-controls-menu-button' class='clickable'>Play Controls</h3>
	  <div>
	  	<p id='tracks-play-button' class='clickable'>Play Tracks</p>
	  	<p id='main-play-button' class='clickable'>Play Matrix</p>
	  	<p id='pause-button' class='clickable'>Pause</p>
	  </div>

	  <h3 class='clickable'>Beats Per Minute</h3>
	  <div>
	  	<form id='update-time-form'>
			  <input id='update-time-text-input' type='text' placeholder='120 bpm'>
		  </form>
	  </div>

	  <h3 class='clickable'>Keyboard Shortcuts</h3>
		  <div>
		  	<p id='pause' class='keyboard-shortcuts'>p: Pause</p>
		  	<p id='spacePress' class='keyboard-shortcuts'>space: Clear Everything</p>
		  	<p id='stage' class='keyboard-shortcuts'>s: Stage Current Matrix</p>
		  </div>

	 <!--  <h3 class='clickable'>Mainframe Operations (dev_tools)</h3>
	  <div>
	    <p id='masterRedraw' class='eventControls clickable'>Master Redraw</p>
	    <p id='spacePress' class='eventControls clickable'>Simulate Space Bar Press</p>
	    <p id='0' class='eventControls clickable'>Trigger Column 1 Activate</p>
	    <p id='delegateEvents' class='eventControls clickable'>Call delegateEvents()</p>
	    <p id='seppuku' class='eventControls clickable'>Destroy all items</p>
	  </div> -->

	  <h3 id='help-button-launch-joyride' class='clickable'>What's Going On?</h3>
  	<div>
  		
  	</div>

	  <h3 class='bottom-accordion-menu-tab'></h3>
	  <div>
	  </div>
	</div>
</div>