<div id='track-stage-wrapper' class='fadein scaleInv anim_1'>
	<div id='stage-wrapper'>
		<p id='stage-title' class='clickable'>Stage</p>
		<div data-cid='blank' class='staged blank-track'>Blank</div>
	</div>
	<div id='track-wrapper'>
		<p id='tracks-label'>tracks</p>
		<div id='track1' class='track'><ul id='track1ul' class='track-ul'></ul></div>
		<div id='track2' class='track'><ul id='track2ul' class='track-ul'></ul></div>
		<div id='track3' class='track'><ul id='track3ul' class='track-ul'></ul></div>
	</div>
</div>